<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developers</key>
	<array>
		<string>Ilija Tovilo</string>
		<string>Lukas Seglias</string>
	</array>
	<key>socialMedia</key>
	<array>
		<dict>
			<key>url</key>
			<string>twitter.com/classicGameRemake</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>url</key>
			<string>facebook.com/classicGameRemake</string>
			<key>icon</key>
			<string>facebook.png</string>
		</dict>
	</array>
</dict>
</plist>
