<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>default</key>
		<dict>
			<key>duration</key>
			<string>0.1</string>
			<key>frames</key>
			<array>
				<string>Frame1</string>
				<string>Frame2</string>
			</array>
		</dict>
	</dict>
	<key>frames</key>
	<dict>
		<key>Frame1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23.5, 58.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23.5, 58.5}</string>
			<key>spriteSourceSize</key>
			<string>{23.5, 58.5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {23.5, 58.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Frame2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23.5, 58.5}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23.5, 58.5}</string>
			<key>spriteSourceSize</key>
			<string>{23.5, 58.5}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 0}, {23.5, 58.5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
