<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>fly</key>
		<dict>
			<key>delay</key>
			<string>0.1</string>
			<key>frames</key>
			<array>
				<string>lakitu-1</string>
			</array>
		</dict>
		<key>grab</key>
		<dict>
			<key>delay</key>
			<string>0.1</string>
			<key>frames</key>
			<array>
				<string>lakitu-2</string>
			</array>
		</dict>
	</dict>
	<key>frames</key>
	<dict>
		<key>lakitu-1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 24}</string>
			<key>spriteSourceSize</key>
			<string>{16, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 4}, {24, 16}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>lakitu-2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{-0.5, -4}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{17, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 28}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>Lakitu.png</string>
	</dict>
</dict>
</plist>
