<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Naming Convention</key>
	<string>world_%d_level_%d.tmx</string>
	<key>Worlds</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Insert World Name here...</string>
			<key>Icon Name</key>
			<string>Insert Icon Name here...</string>
			<key>Is Locked</key>
			<false/>
			<key>Levels</key>
			<array>
				<dict>
					<key>ID</key>
					<integer>0</integer>
					<key>Name</key>
					<string>Insert Level Name here...</string>
					<key>Icon Name</key>
					<string>Insert Icon Name here...</string>
					<key>Is Locked</key>
					<false/>
					<key>Sprite Cache</key>
					<array>
						<string>Candle.plist</string>
					</array>
				</dict>
				<dict>
					<key>ID</key>
					<integer>1</integer>
					<key>Name</key>
					<string>Insert Level Name here...</string>
					<key>Icon Name</key>
					<string>Insert Icon Name here...</string>
					<key>Is Locked</key>
					<false/>
					<key>Sprite Cache</key>
					<array>
						<string>Mario.plist</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
