<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Naming Convention</key>
	<string>world_%d_level_%d.tmx</string>
	<key>Worlds</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>0</integer>
			<key>Name</key>
			<string>World 1</string>
			<key>Short Name</key>
			<string>1</string>
			<key>Icon Name</key>
			<string>facebook.png</string>
			<key>Is Locked</key>
			<false/>
			<key>Levels</key>
			<array>
				<dict>
					<key>ID</key>
					<integer>0</integer>
					<key>Name</key>
					<string>Level 1</string>
					<key>Short Name</key>
					<string>1</string>
					<key>Icon Name</key>
					<string>facebook.png</string>
					<key>Is Locked</key>
					<false/>
					<key>Time</key>
					<integer>180</integer>
					<key>Sprite Cache</key>
					<array>
						<string>Flower.plist</string>
						<string>Mario.plist</string>
						<string>Coin.plist</string>
						<string>Mushroom.plist</string>
						<string>Gumba.plist</string>
						<string>Spiny.plist</string>
						<string>Koopa.plist</string>
						<string>Lakitu.plist</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>1</integer>
			<key>Name</key>
			<string>World 2</string>
			<key>Short Name</key>
			<string>2</string>
			<key>Icon Name</key>
			<string>twitter.png</string>
			<key>Is Locked</key>
			<true/>
			<key>Levels</key>
			<array>
				<dict>
					<key>ID</key>
					<integer>0</integer>
					<key>Name</key>
					<string>Level 1</string>
					<key>Short Name</key>
					<string>1</string>
					<key>Icon Name</key>
					<string>facebook.png</string>
					<key>Is Locked</key>
					<false/>
					<key>Time</key>
					<integer>180</integer>
					<key>Sprite Cache</key>
					<array>
						<string>Mario.plist</string>
						<string>Coin.plist</string>
						<string>Gumba.plist</string>
						<string>Spiny.plist</string>
						<string>Koopa.plist</string>
						<string>Lakitu.plist</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ID</key>
			<integer>2</integer>
			<key>Name</key>
			<string>World 3</string>
			<key>Short Name</key>
			<string>3</string>
			<key>Icon Name</key>
			<string>facebook.png</string>
			<key>Is Locked</key>
			<false/>
			<key>Levels</key>
			<array/>
			<key>New item</key>
			<dict>
				<key>ID</key>
				<integer>0</integer>
				<key>Name</key>
				<string>Level 1</string>
				<key>Short Name</key>
				<string>1</string>
				<key>Icon Name</key>
				<string>facebook.png</string>
				<key>Is Locked</key>
				<false/>
				<key>Time</key>
				<integer>180</integer>
				<key>Sprite Cache</key>
				<array>
					<string>Mario.plist</string>
					<string>Coin.plist</string>
					<string>Gumba.plist</string>
					<string>Spiny.plist</string>
					<string>Koopa.plist</string>
					<string>Lakitu.plist</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
