<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>coin-1</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 4}, {14, 8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>coin-2</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {4, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{4, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 20}, {14, 4}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>coin-3</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {1, 14}}</string>
			<key>spriteOffset</key>
			<string>{0.5, -0}</string>
			<key>spriteSize</key>
			<string>{1, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{28, 4}, {1, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>coin-4</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {4, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{4, 14}</string>
			<key>spriteSourceSize</key>
			<string>{8, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 32}, {14, 4}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>Coin.png</string>
	</dict>
</dict>
</plist>
